*{
    margin: 0;
    font-family: arial;
    box-sizing: border-box;
    
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: rgb(230, 235, 235);
    padding-left: 5px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;

}

.nav-logo {
    height:50px;
    width:100px;

}


.logo {
    background-image: url("amazonlogo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    height: 50px;
    width: 100%;

}

.border {
    border:2px solid transparent;
}

.border:hover {
    border: 2px solid white;
}

/** BOX 2 -----------------------------------------------------------------------------**/

.add-first {
color: #cccccc;
font-size: 0.85rem;
margin-left: 15px;

}

.add-second{
font: 1rem;
margin-left: 3px;

}
.add-icon{
    display: flex;
    align-items: center;
}

.nav-search{
    display: flex;
    align-items: center;

}

/** Box 3 ----------------------------------------------------------------**/

.nav-search{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: orange;
    width: 630px;
    height: 40px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.nav-search:hover{
    border:2px solid orange;
}

.search-select{
    background-color: #f3f3f3;
    width:50px;
    height:100%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: center;
    font-size: 14px;
    border:none;
}

.search-input
{
    width: 100%;
    height: 100%;
    font-size: 1rem;
    border: none;
    
}

.search-icon  {
    width:45px;
    display: flex;
    justify-content: center;
    align-items: center;
     font-size: 1.2rem;
     color:#0f1111;
}

/** Box 4 -----------------------------------------------------------------**/

span{
    font-size: 0.7rem;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}


/** Box 5 **/

.nav-cart i {
    font-size: 23px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}

/** Panel styling --------------------------------------------------------**/

.panel {
    height:40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;

}

.panel-options p {
    display: inline;
    color: white;
    margin-left: 10px;
    

}

.panel-options:hover {
    text-decoration: underline;
}

.panel-options {
    width:70%;
    font-size: 0.85rem;

}

.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}

/** Hero Image Section -------------------------------------------------------**/


.hero-msg {
    background-color: black;
    color: white;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width:80%;
    margin-bottom: 25px;
}

.hero-image {
    background-image: url("hero-image-amazon.jpg");
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.hero-msg a {
    color:#73eaff;
    font-size: 0.85rem;
    
}


/** Shoping Section ----------------------------------------------------------------------**/

.box {
   
    height: 400px;
    width:23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 5px;
    

}

.shoping-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #dcfffa;
    padding-bottom: 40px;
}

.box1-img {
    background-image: url("box1-img.jpg");
    height:300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.box1-content {
    margin-left: 10px;
    margin-right: 10px;
}

.box1-content p {
    color: #069ce7;
    margin-bottom: 2px;
}

.box2-img {
    background-image: url("box2-img.jpg");
    height:300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.box2-content p {
    color: #069ce7;
    margin-bottom: 2px;
}

.box3-img {
    
    background-image: url("box3-img.jpg");
    height:300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.box3-content p {
    color: #069ce7;
    margin-bottom: 2px;
}
.box4-img {
    
    background-image: url("box4-img.jpg");
    height:300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;

}


.box4-content p {
    color: #069ce7;
    margin-bottom: 2px;
}


.box5-img {
    
    background-image: url("box5-img.jpg");
    height:325px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.box5-content p {
    color: #069ce7;
    margin-bottom: 2px;
}

.box6-img {
    
    background-image: url("box6-img.jpg");
    height:325px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.box6-content p {
    color: #069ce7;
    margin-bottom: 2px;
}


.box7-img {
    
    background-image: url("box7-img.jpg");
    height:325px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.box7-content p {
    color: #069ce7;
    margin-bottom: 2px;
}

.box8-img {
    
    background-image: url("box8-img.jpg");
    height:325px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.box8-content p {
    color: #069ce7;
    margin-bottom: 2px;
}

/** Footer **/

.footer-panel {
    background-color: #37575a;
    color:white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    margin-top: 25px;
    width: 100%;
    padding: 15px 0;
}

.footer-panel2 {
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content:space-evenly;
    margin-top: 20px;
}

ul a {
    display: block;
    margin-top: 10px;
    color: #dddd;
}

.footer-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-logo {
        background-image: url("amazonlogo.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 100%;
    background-position: center;

}
.footer-panel4 {
    background-color: #0f1111;
    color: white;
    height: 80px;
    text-align: center;
    font-size: 0.7rem;
}

.pages {
    padding-top: 20px;
  
}

.copyright {
    
    padding-top: 5px;
   
}
